<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="rst.framework">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application>

        <activity
            android:name=".compoment.photoview.ImagePicsListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppDialogTheme" />
    </application>

</manifest>
